In [3]:
import yfinance as yf
import pandas as pd

In [ ]:
from dca_simulator.data_loader import load_price_data
from dca_simulator.data_processing import data_process
from dca_simulator.strategies import dca_DD

raw = load_price_data("AAPL", "2015-01-01", "2025-01-01")
raw.head()

/Users/maxmilde/Library/Mobile Documents/com~apple~CloudDocs/University/Prague/Master/Data Processing in Python/Project_python/dca_simulator/data_loader.py:7: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start=start_date, end=end_date)
[*********************100%***********************]  1 of 1 completed

Price           Close
Date
2015-01-02  24.237551
2015-01-05  23.554743
2015-01-06  23.556961
2015-01-07  23.887281
2015-01-08  24.805079

In [2]:
result = dca_DD(raw, 100)
result

Price,Close,12m_high,drawdown,DD_cond,shares_total,invested_total,portf_value,profit_loss
Date,,,,,,,,
2015-12-01,23.732861,29.622196,0.801185,False,4.213567,100.0,100.000000,0.000000
2016-01-01,23.753151,29.622196,0.801870,False,8.423535,200.0,200.085495,0.085495
2016-02-01,21.741970,29.622196,0.733976,True,17.622333,400.0,383.144243,-16.855757
2016-03-01,22.789381,29.622196,0.769335,True,26.398350,600.0,601.602068,1.602068
2016-04-01,24.933895,29.622196,0.841730,False,30.408955,700.0,758.213702,58.213702
...,...,...,...,...,...,...,...,...
2024-08-01,216.886917,233.235886,0.929904,False,223.954726,11900.0,48572.850073,36672.850073
2024-09-01,221.523300,233.235886,0.949782,False,224.406146,12000.0,49711.189970,37711.189970
2024-10-01,224.944046,233.235886,0.964449,False,224.850701,12100.0,50578.826361,38478.826361
2024-11-01,221.662521,235.156525,0.942617,False,225.301837,12200.0,49940.973243,37740.973243
2024-12-01,238.511261,238.511261,1.000000,False,225.721104,12300.0,53837.025230,41537.025230

In [3]:
raw.columns

Index(['Close'], dtype='object', name='Price')